<h1>Burgers</h1>

<h2>Burgers that have not been eaten!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{>burgers/burger-block devoured=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been eaten!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{>burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

        <div class ="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>

        <div class="form-group">
            <label for="devoured">Devoured?</label><br>
            <input type="radio" name="devoured" value="1" checked> Devoured!<br>
            <input type="radio" name="devoured" value="0">
            Not Eaten
        </div>

        <button type="submit">Add Burger</button>
</form>

<script>
    console.log("hello")
$(function(){
    $(".change-devoured").on("click", function (event){
        var id = $(this).data("id");
        var newDevoured = $(this).data("newdevoured");

        var newDevouredState = {
            devoured: newDevoured
        };

        $.ajax("/api/burgers/" + id, {
            type:"PUT",
            data: newDevouredState
        }).then(
            function() {
                console.log("changed devoured to", newDevoured);

                location.reload();
            }
        );
    });

    $(".create-form").on("submit", function (event){
        event.preventDefault();

        var newBurger = {
            name: $("#burger").val().trim(),
            devoured: $("[name=devoured]:checked").val().trim()
        };

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then (
            function() {
                console.log ("created new burger");

                location.reload();
            }
        );
    });

    $(".delete-burger").on("click", function (event){
        var id = $(this).data("id");

        $.ajax("/api/burgers/" + id, {
            type:"DELETE"
        }).then (
            function () {
                console.log("delete burger", id);

                location.reload();
            }
        );
    });

});
</script>